@import url(/files/css/style.css);
body {
  overflow-x: hidden;
}

.member,
.team,
.how-we-started,
.about-our-work,
.results {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.col-dims {
  width: 50vh;
  height: 50vh;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 30vh;
  width: 30vh;
}

.team > .col > img {
  height: 50vh;
  width: auto;
  border-radius: 1.5rem;
}

.results > img {
  height: 80%;
  width: auto;
}
