@import url(/files/css/style.css);
body {
  overflow-x: hidden;
}

p {
  margin-bottom: 0;
  font-size: 1.8vw;
}

.member,
.team,
.how-we-started,
.results {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.col-dims {
  width: 25vw;
  height: auto;
}

.description {
  margin-top: 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.member > .row > .col > img {
  /* height: 30vh; */
  width: 15vw;
}

.member > .row > .col:hover {
  transition: 0.3s;
  transform: scale(120%);
  cursor: default;
}

p:hover {
  cursor: default;
}

.team > .col > img {
  height: 55vh;
  width: auto;
  border-radius: 1.5rem;
}

.results > img {
  height: 100%;
  width: auto;
}

.selected1 {
  transform: scale(120%);
}

.space {
  height: 10vh;
}
